h1{
    color: rgb(178, 10, 10);
}

h1{
    font-size: 60px ;
    text-align: center;
}
body{
    background-color: rgb(37, 172, 196);
}
h1{
    color: rgb(33, 163, 92);
}
h1{
    font-size: 30px ;
    text-align: center;
}
h3{
    font-size: 23px;
}