h1{
    color: rgb(127, 136, 255);
}

h1{
    font-size: 60px ;
    text-align: center;
}
body{
    background-color: cyan;
}
p1{
    color: rgb(211, 15, 132);
}
h1{
    font-size: 30px ;
    text-align: center;
}
h3{
    font-size: 30px;
}